<app-menu-bar></app-menu-bar>
<main>
  <div>
    <p>O Postman é um aplicativo com a função de testar e desenvolver APIs em uma interface bastante simples e
      intuitiva.
      Ele nos permite simular requisições HTTP de forma rápida, armazenando-as para que possamos usá-las posteriormente.

      Além disso, para cada requisição feita, o Postman analisa as respostas enviadas pela API e as exibe visualmente de
      forma muito agradável e fácil de entender, o que reduz consideravelmente o tempo necessário para o desenvolvimento
      e
      testes de sua aplicação

      Sem contar que é possível passar as configurações de testes de uma API para a sua equipe toda. O aplicativo já é
      utilizado por mais de 5 milhões de desenvolvedores(as) e mais de 100.000 empresas para acessar 130.000.000 de APIs
      todos os meses. Ele possui alguns planos pagos, mas neste artigo focaremos no plano gratuito.

    </p>
  </div>
</main>